@mixin anim-appear($d) {
  animation: $d appear;
  margin: auto;
}

@mixin anim-cfg($ad, $aic) {
	animation-duration: $ad;
	/* animation-delay: 2s; */
	animation-iteration-count: $aic;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-to {
  0% {
    margin-left: 400px;
  }
  100% {
    margin-left: 0px;
  }
}

.anim-appear-1s {
  @include anim-appear(1s);
}

.anim-appear-2s {
  @include anim-appear(2s);
}

.anim-appear-3s {
  @include anim-appear(3s);
}

.once-anim-cfg {
  @include anim-cfg(0.4s, 1);
}

.once-anim-cfg-2x {
	@include anim-cfg(0.8s, 1);
}

.inf-anim-cfg {
  @include anim-cfg(0.4s, infinite);
}

.slide-enter-active {
  animation: slide-to 0.3s forwards linear;
}
.slide-leave-active {
  animation: slide-to 0.3s forwards reverse linear;
}
