@mixin anim-appear($d) {
  animation: $d appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-to {
  0% {
    margin-left: 400px;
  }
  100% {
    margin-left: 0px;
  }
}

.anim-appear-1s {
  @include anim-appear(1s);
}

.anim-appear-2s {
  @include anim-appear(2s);
}

.anim-appear-3s {
  @include anim-appear(3s);
}

.slide-enter-active {
  animation: slide-to 0.3s forwards linear;
}
.slide-leave-active {
  animation: slide-to 0.3s forwards reverse linear;
}
