@mixin anim-keyframes($duration, $keyframe) {
  animation: $duration $keyframe;
  margin: auto;
}

@mixin anim-keyframes-infinite($duration, $keyframe) {
  animation: $duration $keyframe ease-in-out infinite;
  margin: auto;
}

@mixin anim-typing($w, $d) {
  width: $w;
  animation: typing $d steps(8), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
}

@mixin scale-keyframes($name, $scale) {
  @keyframes #{$name} {
    // @content;
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale($scale);
    }
    100% {
        transform: scale(1);
    }
  }
}

@include scale-keyframes(scale-warning, 1.025);
@include scale-keyframes(scale-danger, 1.05);

.scale-warning {
  animation: scale-warning 3s ease infinite;
}

.scale-danger {
  animation: scale-danger 3s ease infinite;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-to {
  0% {
    margin-left: 400px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.ld-txt {
  @include anim-typing(8ch, .5s);
}

.anim-appear-1s {
  @include anim-keyframes(1s, appear);
}

.anim-appear-2s {
  @include anim-keyframes(2s, appear);
}

.anim-appear-3s {
  @include anim-keyframes(3s, appear);
}

.slide-enter-active {
  animation: slide-to 0.3s forwards linear;
}
.slide-leave-active {
  animation: slide-to 0.3s forwards reverse linear;
}

.list-enter-active, .list-leave-active {
  transition: all .4s;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}
