// Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

@import 'anim.scss';
@import 'size.scss';

// General style overrides and custom classes
@import 'theme';

html, body { 
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.shadow-xl {
	-webkit-filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
	filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7))
}

#lah-sidebar {
  a {
    &:hover, &:active {
      font-weight: bold;
      font-size: 1.1rem;
      text-decoration: none;
    }
    &.nuxt-link-exact-active {
      @extend :hover;
      color: rgb(255, 255, 255) !important;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
        margin: 8px 16px;
        a {
          color: rgb(187, 184, 184);
        }
    }
  }
}
