// Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
// General style overrides and custom classes
@import 'theme';

a:hover,
a:active {
  font-weight: bold;
  font-size: 1.25rem;
  text-decoration: none;
}

a.nuxt-link-active {
  @extend a:hover;
  color: rgb(255, 255, 255) !important;
}

#lah-sidebar ul {
  list-style-type: none;
  padding: 0;
  li {
      margin: 8px 16px;
      a {
        color: rgb(187, 184, 184);
      }
  }
}
