// Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
// General style overrides and custom classes
@import 'theme';

html, body { 
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@mixin anim-cfg($ad, $aic) {
	animation-duration: $ad;
	/* animation-delay: 2s; */
	animation-iteration-count: $aic;
}

.once-anim-cfg {
  @include anim-cfg(0.4s, 1);
}

.once-anim-cfg-2x {
	@include anim-cfg(0.8s, 1);
}

.inf-anim-cfg {
  @include anim-cfg(0.4s, infinite);
}

#lah-sidebar {
  a {
    &:hover, &:active {
      font-weight: bold;
      font-size: 1.1rem;
      text-decoration: none;
    }
    &.nuxt-link-exact-active {
      @extend :hover;
      color: rgb(255, 255, 255) !important;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
        margin: 8px 16px;
        a {
          color: rgb(187, 184, 184);
        }
    }
  }
}

.s-95 {
	font-size: .95rem;
}

.s-90 {
	font-size: .90rem;
}

.s-85 {
	font-size: .85rem;
}

.s-80 {
	font-size: .80rem;
}

.s-75 {
	font-size: .75rem;
}

.s-70 {
	font-size: .70rem;
}

.s-65 {
	font-size: .65rem;
}

.s-60 {
	font-size: .60rem;
}

.s-55 {
	font-size: .55rem;
}

.s-50 {
	font-size: .50rem;
}
