
.s-95 {
	font-size: .95rem;
}

.s-90 {
	font-size: .90rem;
}

.s-85 {
	font-size: .85rem;
}

.s-80 {
	font-size: .80rem;
}

.s-75 {
	font-size: .75rem;
}

.s-70 {
	font-size: .70rem;
}

.s-65 {
	font-size: .65rem;
}

.s-60 {
	font-size: .60rem;
}

.s-55 {
	font-size: .55rem;
}

.s-50 {
	font-size: .50rem;
}
